{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<div class="py-8 px-4 md:px-5 lg:px-72 lg:py-16 bg-green-100 text-gray-900">
    <a href="{% url 'index' %}" class="flex-grow text-gray-900 border-b-2 border-black py-2 text-lg px-1">
        Back to Home Page
    </a>
    <h2 class="mb-4 text-2xl text-center font-bold text-gray-900 mt-10">Help make our project in Akure a reality!</h2>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="my-4 bg-gray-100 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h3 class="text-xl font-bold text-gray-900 mb-2">Why Donate?</h3>
            <p class="mb-2">
                Your donation helps us build and maintain the hospital in Akure, providing essential healthcare services to those in need.
            </p>
            <p>
                Our non-profit is dedicated to ensuring that every dollar goes directly to the cause. Your support makes a difference!
            </p>
        </div>        
        <form method="post" id="payment-form">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
                <input type="text" id="name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                <input type="email" id="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4 relative">
                <label for="amount" class="block text-gray-700 text-sm font-bold mb-2">Amount:</label>
                <div class="relative">
                    <div class="absolute top-3 left-3">$</div>
                    <input type="number" id="amount" name="amount" min="1" step="any" class="shadow appearance-none border rounded w-full py-2 px-3 pl-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
            </div>
            <div class="mb-4">
                <label for="card-element" class="block text-gray-700 text-sm font-bold mb-2">Card Information:</label>
                <div id="card-element" style="height: 35px;" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <!-- A Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert" class="text-red-500 mt-2"></div>
            </div>

            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Donate
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    // Replace 'your-publishable-key' with your Stripe publishable key
    const stripe = Stripe('{{ stripe_public_key }}');
    const elements = stripe.elements();
    const card = elements.create('card');
    card.mount('#card-element');

    card.addEventListener('change', function (event) {
        const displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    const form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        stripe.createToken(card).then(function (result) {
            if (result.error) {
                const errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        const form = document.getElementById('payment-form');
        const hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
        form.submit();
    }
</script>
{% endblock %}