{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="icon" href="%svelte.assets%/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"  rel="stylesheet" />
  </head>
  <body>
    <div id="svelte"></div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>

<div class="bg-green-100 py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-md px-4 md:px-8 mx-auto">
      <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">Our Story：</h1>
  
      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
        Funmilayo lost her father-in-law to septicemia. He had a basic infection which was left untreated and lead to his death. This shouldn’t happen in 2022. Please help us to bring equitable accessible healthcare to Akure, Nigeria and other underserved areas of the world.
      </p>
  
      <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">Why fund our project?</h2>
  
      <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">Drs. Polk and Bandele work together in the most successful and highest rated health plan in the United States. They have been inspired by the structure, protocols and financing model of their institution helping them to make a robust plan for their healthcare centers.
        <br>
        As an example, the funding model will be a prepaid membership (on a sliding scale) which will grant access to healthcare services all of which will be under one roof.
        <br>
        Training at each level will be standardized and contain many protocols to allow for consistency. The infrastructure will be adapted to the cultural, religious and social needs of the community of Akure
      </p>
  
    </div>
  </div>

{% endblock content %}