{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="icon" href="%svelte.assets%/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"  rel="stylesheet" />
  </head>
  <body>
    <div id="svelte"></div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>

<section class="bg-green-100 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Team</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                Introducing the Julayo team!</p>
        </div>
        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg bg-green-300">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/t0Xt3Ya.jpg" alt="Bonnie Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Julia Polk</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Co-Founder</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">MD, Ob/GYN, FACOG is a board-certified
                        obstetrician/gynecologist with 10 years of clinical
                        experience and 10 years of global health experience.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/julia-polk-08b249b/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/FPxzq1u.jpg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Funmilayo Bandele</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Co-Founder</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">RN, PhD (Doctor of Nursing
                        practice) is a nurse leader, and legal nurse consultant.
                        She has 28 years of clinical nursing experience and has
                        been teaching nursing for 5 years.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat for other team members -->
             <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/LUgaA5p.jpg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Matteen Maroofian</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Board Member</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">MD, MPH candidate at Drexel University College of Medicine, 
                        expected to graduate in 2025. Previously, obtained degrees in biomedical engineering and filmmaking at the USC.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/matteen-maroofian-2409867b/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/45ktnpn.png" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Labake Oladunjoye</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Board Member</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">RMSN, CNL, PHN, RN. Registered nurse at Emanuel Medical Center and a business owner for over 25 years of experience.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Atinuke Bandele</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Volunteer</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Atinuke will be directing the fundraising efforts for our project. With her ties to Akure and knack for fundraising we are in great hands.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/atinuke-bandele-b421b4274/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/d4ghm2P.png" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Nneka Chukwu</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Board Member</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">DNP-HCSL, MBA, NEA-BC, RN, CLNC Dr. Chukwu has over 20 years of experience in healthcare, including Maternal Child Health, Critical Care, 
                        Leadership, Academia, and Quality/Risk. Director of Women and Children’s Services at Emanuel MC and an Associate Prof. in the USF Grad Nursing Program.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/ZdcBupx.jpg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Linda Fagbote</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Board member</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">MSN, RN. Lead Nurse Program Manager for the Los Angeles County Health Services. Adjunct Obstetrics Clinical Instructor for WestCoast University.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/PqLyWGW.png" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Esther Divinah Moyo</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Team Member</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">For the past 26 years, Divinah has been a Labor and Delivery nurse. She has received an MSN in Education and is pursuing a second MSN in Public Health. She plans to return to Africa and make an impact working with Julayo.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/oq69D7p.jpeg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Amelia Posadas Angeles</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Social Media</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Amelia is an undergraduate student at UC Irvine majoring in communications. Amelia is helping Julayo bolster their online presence via social media campaigns.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/amelia-posadas-angeles-2a09722b1/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/e34TAR9.jpeg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Priye Noel Kuete</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Operations Manager/Legal Advisor</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Priye is an RN with specialization in psychiatric nursing who works for the public health sector at Odo clinic in Akure. He also is a board-certified lawyer in Akure Nigeria. He is helping to oversee the build of Julayo's first clinic. </p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Max Lieblich</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Volunteer Grant Writer</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Max graduated from UCLA in 2020 with a degree in political science and sociology. She has been working in the legal and recruiting sector but is making a pivot into the nonprofit world.  </p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <!-- Repeat the same structure for other team members -->
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#" class="flex-shrink-0">
                    <div class="w-48 h-48 overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg">
                        <img class="object-cover w-full h-full" src="https://i.imgur.com/nhLeEJ1.jpeg" alt="Jese Avatar">
                    </div>
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Chisomam Joan-Agaranna</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Volunteer Marketing Administrator</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Chisomam graduated from UC Irvine in June of 2024 with a degree in global health and is planning to pursue a degree in medicine in the future. She is assisting Julayo in our marketing. </p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}