{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="icon" href="%svelte.assets%/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"  rel="stylesheet" />
  </head>
  <body>
    <div id="svelte"></div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>

<section class="text-white body-font bg-green-200">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Our Story:</h1>
      <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
          <div class="mr-auto place-self-center lg:col-span-7">
              <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-black dark:text-white">Our Akure Roots</h1>
                  <ul class="max-w-2xl mb-6 font-light text-gray-600 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                      <li>
                        Funmilayo lost her father-in-law to septicemia. He had a basic infection which was left untreated and lead to his death. 
                        This shouldn’t happen in 2022. Please help us to bring equitable accessible healthcare to Akure, Nigeria and other underserved areas of the world.
                      </li>
                  </ul>
          </div>
          <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <iframe width="560" height="315" src="//www.youtube.com/embed/6bxqqD0Q3iA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          </div>                
      </div>
      <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
          <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
              <img src="https://i.imgur.com/9Yuu1JB.jpg" style="padding: 40px;" alt="mockup" border-radius: 0.375rem;>
          </div>  
          <div class="mr-auto place-self-center lg:col-span-7">
              <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-black dark:text-white">Why fund our project?
              </h1>
              <ul class="max-w-2xl mb-6 font-light text-gray-600 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                  <li>
                    Drs. Polk and Bandele work together in the most successful and highest rated health plan in the United States. They have been inspired by the structure, protocols and financing model of their institution helping them to make a robust plan for their healthcare centers.
                    As an example, the funding model will be a prepaid membership (on a sliding scale) which will grant access to healthcare services all of which will be under one roof. Training at each level will be standardized and contain many protocols to allow for consistency. 
                    The infrastructure will be adapted to the cultural, religious and social needs of the community of Akure
                  </li>
              </ul>
              <p class="max-w-2xl mb-6 font-light text-gray-600 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                  </p>
        </div>

        
</section>

{% endblock content %}