{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="icon" href="%svelte.assets%/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"  rel="stylesheet" />
  </head>
  <body>
    <div id="svelte"></div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>

<section class="bg-green-100 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Team</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                Introducing the Julayo team!</p>
        </div> 
        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="h-64 object-cover rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://i.imgur.com/t0Xt3Ya.jpg" alt="Bonnie Avatar">
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Julia Polk</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Co-Founder</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">MD, Ob/GYN, FACOG is a board-certified
                        obstetrician/gynecologist with 10 years of clinical
                        experience and 10 years of global health experience.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/julia-polk-08b249b/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="h-64 object-cover rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://i.imgur.com/FPxzq1u.jpg" alt="Jese Avatar">
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Funmilayo Bandele</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Co-Founder</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">RN, PhD (Doctor of Nursing
                        practice) is a nurse leader, and legal nurse consultant.
                        She has 28 years of clinical nursing experience and has
                        been teaching nursing for 5 years.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/funmilayo-victoria-bandele-889356211/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="h-64 object-cover rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://i.imgur.com/LUgaA5p.jpg" alt="Avatar">
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Matteen Maroofian</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Research Intern</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">MD, MPH candidate at Drexel University College of Medicine, 
                        expected to graduate in 2025. Previously, obtained degrees in biomedical engineering and filmmaking at the USC.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/matteen-maroofian-2409867b/" class="text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="h-64 object-cover rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="Avatar">
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Atinuke Bandele</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Fundraising Coordinator</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Atinuke will be directing the fundraising efforts for our project. With her ties to Akure and knack for fundraising we are in great hands.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/matteen-maroofian-2409867b/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="object-cover" src="https://i.imgur.com/d4ghm2P.png" alt="Avatar">
                </a>                
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Nneka Chukw</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Board Member</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">DNP-HCSL, MBA, NEA-BC, RN, CLNC Dr. Chukwu has over 20 years of experience in healthcare, including Maternal Child Health, Critical Care, 
                        Leadership, Academia, and Quality/Risk. She's the Director of Women and Children’s Services at Emanuel MC and an Associate Prof. in the USF Grad Nursing Program.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/matteen-maroofian-2409867b/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="h-64 object-cover rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://i.imgur.com/45ktnpn.png" alt="Avatar">
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Labake Oladunjoye</a>
                    </h3>
                    <span class="text-gray-500 dark:text-gray-400">Board Member</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">MSN, CNL, PHN, RN. Registered nurse at Emanuel Medical Center and a business owner for over 25 years of experience.</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <a href="https://www.linkedin.com/in/matteen-maroofian-2409867b/" class="hidden text-gray-600"><i class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div> 
        </div>  
    </div>
  </section>

{% endblock content %}