{% extends 'base.html' %}

{% block content %}
<section class="text-gray-700 body-font bg-green-200">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex justify-center">
      <div class="w-full max-w-lg bg-white rounded-lg p-8 flex flex-col">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5 text-center">Volunteer With Us</h2>
        <p class="mb-4 text-gray-600">We are currently looking for volunteers in the following areas:</p>
        <ul class="mb-8 text-gray-600 list-disc list-inside">
            <li><strong>Marketing:</strong> We are looking for someone to write our newsletters, maintain and contribute to our social media. Research different organizations and individuals to reach out to and do the outreach.</li>
            <li><strong>Fundraising:</strong> We are looking for someone to help design and implement fundraising campaigns. From auctions to outdoor runs, anything is possible if we can have the help to put it together.</li>
        </ul>
        <form method="post" class="w-full">
          {% csrf_token %}
          <div class="mb-4">
            {{ form.name.label_tag }} {{ form.name }}
          </div>
          <div class="mb-4">
            {{ form.email.label_tag }} {{ form.email }}
          </div>
          <div class="mb-4">
            {{ form.interest.label_tag }} {{ form.interest }}
          </div>
          <button type="submit" class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Submit</button>
        </form>
        <p class="text-xs text-gray-500 mt-3 text-center">Your personal information will be kept confidential and will only be used to contact you regarding volunteer opportunities.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
